.cus-navbar{
    font-weight: 600;
    display: flex;
    width: 60vw;
    margin-left: 20vw;
    padding: 20px;
    justify-content: space-evenly;
    font-size: larger;
}
.theme-btn{
    &:hover{
        cursor: pointer;
    }
}