.cus-navbar{
    font-weight: 600;
    display: flex;
    width: 70vw;
    margin-left: 15vw;
    align-items: center;
    height: 56px;
    justify-content: space-evenly;
    font-size: larger;
    position: fixed;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;   
    top: 20px;
    background-color:rgba($color:grey,$alpha: 0.2);
}
.theme-btn{
    &:hover{
        cursor: pointer;
    }
}