@media only screen and (max-height: 30px){
    .cus-navbar .navb-item{
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;   
        margin-top: 20px;
        background-color:rgba($color:grey,$alpha: 0.2);
    }
}