@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Press+Start+2P&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui,
    sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  cursor: none;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.start{
  font-family: 'Press Start 2P';
}

a {
  color: inherit;
  text-decoration: none;
}
.butn{
  padding: 8px;
  border: 1px solid;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.inv{
  display:visible;
}

 @media only screen and (max-width: 720px) {
  .inv{
  display: none;
}
 }

 .ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: rgba(31, 30, 30, 0.4);
  border-radius: 100%;
  transform: translate(-15%, -15%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
  -webkit-transform: translate(-15%, -15%);
  -moz-transform: translate(-15%, -15%);
  -ms-transform: translate(-15%, -15%);
  -o-transform: translate(-15%, -15%);
}
.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  padding: 2px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
  animation-name: rot;
  animation-delay: 10s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes rot {
  0%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
100%{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
}
.expbtn{
  padding: 10px;
  width: 100px;
}
.expbtn:active{
  background-color:  rgba(31, 30, 30, 0.4);
  padding: 10px;
  width: 100px;
}
.tabss .active{
  background-color: red;
}
.project-section:nth-of-type(2n+1) .project-image {
  grid-column: 1 / 8;
}
.project-section{
      position: relative;
      display: grid;
      gap: 10px;
}
.project-section .project-image{
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}


.project-section:nth-of-type(2n+1) .project-content {
  grid-column: 7 / -1;
}
eeeRej:nth-of-type(2n+1) .project-image {
  grid-column: 1 / 8;
}

.wrapper{
  box-shadow: 0 10px 30px -15px navy;
  display: block;
  position: relative;
  width: 100%;
  border-radius: "10px";
  background-color: blue;
  -webkit-border-radius: "10px";
  -moz-border-radius: "10px";
  -ms-border-radius: "10px";
  -o-border-radius: "10px";
}

.wrapper::before {
  top: 0px;
  left: 0px;
  background-color: navy;
  mix-blend-mode: screen;
}

.wrapper::after {
  border: 2px solid black;
  top: 20px;
  left: 20px;
  z-index: -1;
}

 .wrapper::before, .wrapper::after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: "10px";
  -webkit-border-radius: "10px";
  -moz-border-radius: "10px";
  -ms-border-radius: "10px";
  -o-border-radius: "10px";
}